In [1]:
import pandas as pd

In [5]:
rating = pd.read_csv('https://raw.githubusercontent.com/codeheroku/Introduction-to-Machine-Learning/master/Collaborative%20Filtering/dataset/ratings.csv')
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
movie = pd.read_csv('https://raw.githubusercontent.com/codeheroku/Introduction-to-Machine-Learning/master/Collaborative%20Filtering/dataset/movies.csv')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
df = pd.merge(movie,rating)

In [8]:
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [10]:
df.drop(columns=['genres','timestamp'], inplace=True)

In [11]:
df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [13]:
user_rating = df.pivot_table(index=('userId'), columns=['title'], values='rating')
user_rating

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.5,3.5,NaN,NaN,NaN
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,4.0,3.5,3.0,NaN,NaN,2.0,1.5,NaN,NaN

In [17]:
# Remove Movie Where only have <= 10 Users who rated it , and fill rest NaN with 0
user_rating2 = user_rating.dropna(thresh=10, axis=1).fillna(0)
user_rating2

title,"'burbs, The (1989)",(500) Days of Summer (2009),10 Cloverfield Lane (2016),10 Things I Hate About You (1999),"10,000 BC (2008)",101 Dalmatians (1996),101 Dalmatians (One Hundred and One Dalmatians) (1961),12 Angry Men (1957),12 Years a Slave (2013),127 Hours (2010),...,Zack and Miri Make a Porno (2008),Zero Dark Thirty (2012),Zero Effect (1998),Zodiac (2007),Zombieland (2009),Zoolander (2001),Zootopia (2016),eXistenZ (1999),xXx (2002),¡Three Amigos! (1986)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.5,3.5,0.0
609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,0.0,3.5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,3.5,0.0,0.0,5.0,3.5,4.0,4.0,0.0,2.0,0.0

In [18]:
corrMatrix = user_rating2.corr(method='pearson')

In [19]:
def get_similar(movie_name,rating):
    similar_ratings = corrMatrix[movie_name]*(rating-2.5)
    similar_ratings = similar_ratings.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_ratings

In [24]:
romantic_lover = [("(500) Days of Summer (2009)",1),("Alice in Wonderland (2010)",1),("Aliens (1986)",5),("2001: A Space Odyssey (1968)",2)]
similar_movies = pd.DataFrame()
for movie,rating in romantic_lover:
    similar_movies = similar_movies.append(get_similar(movie,rating),ignore_index = True)

similar_movies.head(10)

,Clear and Present Danger (1994),"Postman, The (Postino, Il) (1994)",Disclosure (1994),"Madness of King George, The (1994)",Stargate (1994),Dances with Wolves (1990),"English Patient, The (1996)","Grifters, The (1990)",Leaving Las Vegas (1995),"Remains of the Day, The (1993)",...,"Secret Life of Walter Mitty, The (2013)",Toy Story 3 (2010),About Time (2013),"Crazy, Stupid, Love. (2011)","Descendants, The (2011)",50/50 (2011),Up in the Air (2009),Adventureland (2009),Silver Linings Playbook (2012),(500) Days of Summer (2009)
0,0.125886,0.096824,0.096345,0.086697,0.085722,0.085339,0.081377,0.080997,0.078757,0.076235,...,-0.625829,-0.630231,-0.630386,-0.646039,-0.649664,-0.674334,-0.677976,-0.694212,-0.752939,-1.500000
1,0.108589,0.076436,0.091882,0.068442,0.032125,-0.040363,0.084217,-0.002804,0.068091,0.012733,...,-0.537721,-0.441346,-0.446313,-0.558994,-0.175700,-0.418858,-0.665525,-0.390314,-0.573677,-0.611994
2,0.207860,0.189729,-0.203890,0.183401,0.548650,0.283920,0.546762,0.514343,0.156285,0.111106,...,0.268052,0.284104,0.096024,0.219571,0.311885,0.186730,0.342499,0.152983,0.218510,0.104390
3,-0.023133,-0.061293,0.022402,-0.020044,-0.078467,-0.047911,-0.141102,-0.144882,-0.035515,-0.022207,...,-0.063478,-0.063763,-0.039608,-0.042563,-0.059233,-0.064954,-0.093265,-0.083101,-0.060217,-0.056808

In [25]:
similar_movies.sum().sort_values(ascending=False).head(20)

Aliens (1986)                                                         2.130370
Alien (1979)                                                          1.276566
Terminator, The (1984)                                                0.951178
Abyss, The (1989)                                                     0.928068
Predator (1987)                                                       0.918627
Superman (1978)                                                       0.917884
Star Trek II: The Wrath of Khan (1982)                                0.917306
Terminator 2: Judgment Day (1991)                                     0.895238
Hunt for Red October, The (1990)                                      0.884116
Total Recall (1990)                                                   0.878645
RoboCop (1987)                                                        0.856396
Army of Darkness (1993)                                               0.803137
Road Warrior, The (Mad Max 2) (1981)                                  0.797069
Star Wars: Episode V - The Empire Strikes Back (1980)                 0.789301
Star Trek IV: The Voyage Home (1986)                                  0.763919
Adventures of Buckaroo Banzai Across the 8th Dimension, The (1984)    0.734985
Deliverance (1972)                                                    0.729889
Fallen (1998)                                                         0.723632
Escape from New York (1981)                                           0.723329
Indiana Jones and the Last Crusade (1989)                             0.716111
dtype: float64